Diagnostics:
  UnusedIncludes: None
---
If:
  PathMatch: [.*\.(cpp|hpp|h|cu|cuh|hip)]
CompileFlags:
  Add:
    - -std=c++20
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -rdc=*
    - -gopt
